.home {
  width: 100vw;
  /*height: auto;*/
}

.home__section {
  width: 96vw;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 8px 1.2rem;
}

@media screen and (max-width: 870px) {
  .home__section {
    grid-template-columns: 1fr;
  }
}
