.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #fff;
  z-index: 100;
  width: 100vw;
  top: 0;
  /*padding-right: 20px;*/
}

.header__logo {
  height: 3.75rem;
  object-fit: contain;
  margin: 20px;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 1.875rem;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header__center > input {
  border: none;
  width: 15.625rem;
  font-size: 1.2rem;
  margin: 10px;
  outline-width: 0; /* removes the outline focus border */
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23vw;
  margin: 20px;
}

@media screen and (max-width: 840px) {
  .header__center {
    margin-right: 20px;
    width: 100%;
  }

  .header__right {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
    justify-content: space-around;
  }
}
@media screen and (max-width: 575px) {
  .header {
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .header__center {
    margin: 0 auto 1rem;
    width: 100%;
  }
}
