.searchResult {
  display: flex;
  position: relative;
  margin: 2.2rem;
  padding: 2.2rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2.2rem;
}

.searchResult__heart {
  position: absolute;
  top: 2.2rem;
  right: 3.2rem;
}

.searchResult__info-top {
  width: 40vw;
}

.searchResult__info-top > h2 {
  font-weight: 300;
  margin-top: 0.8rem;
}

.searchResult__info-top > p {
  margin-top: 0.8rem;
  font-size: 13px;
  color: gray;
}

.searchResult__info-bottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__stars {
  display: flex;
  align-items: center;
}

.searchResult__star {
  color: red;
}

.searchResult__price {
  position: absolute;
  bottom: 2.2rem;
  right: 2.8rem;
}

.searchResult__price > p {
  text-align: right;
}
