:root {
  --btn-color-bgc-red: #ff7779;
  --text-color: #fff;

  --btn-color-bgc-white: #fff;
  --text-color--red: #ff7779;

  --hover-btn-color-bgc-white: #fff;
  --hover-text-color: #ff7779;
}

.showcase {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  top: 0;
  bottom: 0;
}

.showcase__img {
  width: 100%;
  /*max-height: 800px;*/
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.showcase__info {
  transform: translate(0%, 15%);
  width: 90%;
  height: 12.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
  color: #fff;
}

.showcase__search {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
}

.showcase__btnSearch {
  z-index: 90;
  background-color: var(--btn-color-bgc-white) !important;
  color: var(--btn-color-bgc-red) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  padding: 10px !important;
}

.showcase__btn {
  background-color: var(--btn-color-bgc-red) !important;
  color: var(--text-color) !important;
  text-transform: inherit !important;
}

.showcase__btn:hover {
  background-color: var(--hover-btn-color-bgc-white) !important;
  color: var(--hover-text-color) !important;
}

@media screen and (max-width: 900px) {
  .showcase {
    height: 47vh;
  }

  .showcase__img {
    top: 0;
    /*height: 84%;*/
  }

  .showcase__info {
    transform: translate(0%, 0%);
    height: 60%;
  }

  h1 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.1em;
  }

  .showcase__btn {
    margin-top: 1rem;
  }
}
